<section class="well" id="messages">

</section>

<form action="#" name="user-input">
  <input type="text" name="message" class="form-control" placeholder="Enter your message here">
</form>

<table>
  <tr>
    <th>Inputs</th>
    <th>Outputs</th>
  </tr>

  <% @items.each do |item| %>
      <tr>
        <td><%= item.input %></td>
        <td><%= item.output %></td>
        <td><%= link_to 'Show', item_path(item) %></td>
      </tr>
  <% end %>
</table>