<!DOCTYPE html>
<html>
  <head>
    <title>Emojifier</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navigation bar -->
    <nav class="nav navbar-static-top navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Emojifier</a>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="container">
      <%= yield %>
    </section>

  </body>
</html>
