body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fffdf8
}

a {
  color: #00B7FF;
}

#messages {
  font-size: 25px;
  line-height: 30px;
}

#messages .emoji {
  height: 26px;
  width: 26px;
}

label {
  display: block;
}
