<h1>Listing items</h1>

<table>
  <tr>
    <th>Inputs</th>
    <th>Outputs</th>
  </tr>

  <% @items.each do |item| %>
      <tr>
        <td><%= item.input %></td>
        <td><%= item.output %></td>
        <td><%= link_to 'Show', item_path(item) %></td>
      </tr>
  <% end %>
</table>