<h1>Test</h1>

<%= form_for :@item, url: items_path, html: {class: ""} do |f| %>
    <p>
      <%= f.text_field :input %>
    </p>
     <%= f.text_field :output %>

    <p>
      <%= f.submit "Gimme Emojis" %>
    </p>
<% end %>