extends layout

block content
  div(class='container' style='background-color:')
    div.clearfix
      img.center-block(src="images/logo.png", "Logo", width="640px")

    div.well
      h1#messages.h1.text-center What should you Emojify?

    form(name='emojify', action='/parse', method="post")
      div.form-group
        input(type="text", name="message", class="form-control", placeholder="Enter text to emojify" cols="80", rows="2")

      //div.form-group
      //  div.checkbox
      //    label
      //      input(type='checkbox', name='extend')
      //      | Memify my message!